.profile-view-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10rem;
}

.profile-details {
    margin-top: 20px;
}

.profile-photo {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}